*{
	margin: 0;
	padding: 0;
	transition: all 1s;
}

body{
	background: #eee;
}

p{
	font-size: 16px;
}

.container{
	background: white;
	height: 100vh;
}

.top-bar{
	position: absolute;
	display: block;
	top: 0;
	background: #222;
	height: 48px;
	width: 100%;
}

ul.btn-list li{
	list-style: none;
	display: inline-block;
	background: #444;
	color: white;
	width: 200px;
	height: 100%;
	font-size: 150%;
	text-align: center;
	padding-top: 8px;
}

ul.btn-list li:hover{
	background: #666;
	cursor: pointer;
}

.content{
	overflow: auto;
	height: calc(100vh - 48px);
	margin-top: 48px;
}